In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

sns.set_style("darkgrid")


%matplotlib inline

In [2]:
df = pd.read_csv("BX.csv", low_memory=False)

In [3]:
df

,Borough,Block,Lot,CD,CT2010,CB2010,SchoolDist,Council,ZipCode,FireComp,...,ZMCode,Sanborn,TaxMap,EDesigNum,APPBBL,APPDate,PLUTOMapID,FIRM07_FLAG,PFIRM15_FLAG,Version
0,BX,2260,1,201,19.0,1022.0,7.0,8.0,10454.0,L029,...,NaN,209S016,20901.0,E-143,0.0,NaN,1,NaN,NaN,18V1
1,BX,2260,4,201,19.0,1022.0,7.0,8.0,10454.0,L029,...,NaN,209S016,20901.0,E-143,0.0,NaN,1,NaN,NaN,18V1
2,BX,2260,10,201,19.0,1022.0,7.0,8.0,10454.0,L029,...,NaN,209S016,20901.0,E-143,0.0,NaN,1,NaN,NaN,18V1
3,BX,2260,17,201,19.0,1022.0,7.0,8.0,10454.0,L029,...,NaN,209S016,20901.0,E-143,0.0,NaN,1,NaN,NaN,18V1
4,BX,2260,18,201,19.0,1022.0,7.0,8.0,10454.0,L029,...,NaN,209S016,20901.0,E-143,0.0,NaN,1,NaN,NaN,18V1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89849,BX,9999,100,204,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,200 000,2.0,NaN,NaN,NaN,3,NaN,NaN,18V1
89850,BX,9999,150,205,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,200 000,2.0,NaN,NaN,NaN,3,NaN,NaN,18V1
89851,BX,9999,200,205,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,200 000,2.0,NaN,NaN,NaN,3,NaN,NaN,18V1
89852,BX,9999,8900,209,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,200 000,2.0,NaN,NaN,NaN,3,NaN,NaN,18V1
89853,BX,0,8900,208,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,3,NaN,NaN,18V1

In [4]:
df = df[['Address', 'BldgArea', 'BldgDepth', 'BuiltFAR', 'CommFAR', 'FacilFAR', 'Lot', 'LotArea', 
         'LotDepth', 'NumBldgs', 'NumFloors', 'OfficeArea', 'ResArea', 'ResidFAR', 'RetailArea', 
         'YearBuilt', 'YearAlter1', 'ZipCode', 'YCoord', 'XCoord']]

In [5]:
df

,Address,BldgArea,BldgDepth,BuiltFAR,CommFAR,FacilFAR,Lot,LotArea,LotDepth,NumBldgs,NumFloors,OfficeArea,ResArea,ResidFAR,RetailArea,YearBuilt,YearAlter1,ZipCode,YCoord,XCoord
0,122 BRUCKNER BOULEVARD,0,0.0,0.00,5.0,6.5,1,15000,200.0,1,0.0,0,0,6.02,0,0,0,10454.0,232162.0,1005957.0
1,126 BRUCKNER BOULEVARD,752,16.0,0.05,5.0,6.5,4,13770,100.0,2,1.0,272,0,6.02,0,1931,1994,10454.0,232156.0,1006076.0
2,138 BRUCKNER BOULEVARD,39375,200.0,1.13,5.0,6.5,10,35000,200.0,1,2.0,0,0,6.02,0,1931,0,10454.0,232036.0,1006187.0
3,144 BRUCKNER BOULEVARD,12500,85.0,5.00,5.0,6.5,17,2500,100.0,1,5.0,0,12500,6.02,0,1931,2001,10454.0,232033.0,1006299.0
4,148 BRUCKNER BOULEVARD,8595,70.0,4.58,5.0,6.5,18,1875,75.0,1,5.0,0,6876,6.02,1719,1920,2009,10454.0,232040.0,1006363.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89849,NaN,0,0.0,0.00,0.0,0.0,100,0,0.0,0,0.0,0,0,0.00,0,0,0,NaN,NaN,NaN
89850,NaN,0,0.0,0.00,3.4,6.5,150,0,0.0,0,0.0,0,0,6.02,0,0,0,NaN,NaN,NaN
89851,NaN,0,0.0,0.00,0.0,0.0,200,0,0.0,0,0.0,0,0,0.00,0,0,0,NaN,NaN,NaN
89852,NaN,0,0.0,0.00,0.0,0.0,8900,0,0.0,0,0.0,0,0,0.00,0,0,0,NaN,NaN,NaN
89853,NaN,0,0.0,0.00,0.0,0.0,8900,0,0.0,0,0.0,0,0,0.00,0,0,0,NaN,NaN,NaN

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89854 entries, 0 to 89853
Data columns (total 20 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Address     89785 non-null  object
 1   BldgArea    89854 non-null  int64
 2   BldgDepth   89854 non-null  float64
 3   BuiltFAR    89854 non-null  float64
 4   CommFAR     89854 non-null  float64
 5   FacilFAR    89854 non-null  float64
 6   Lot         89854 non-null  int64
 7   LotArea     89854 non-null  int64
 8   LotDepth    89854 non-null  float64
 9   NumBldgs    89854 non-null  int64
 10  NumFloors   89854 non-null  float64
 11  OfficeArea  89854 non-null  int64
 12  ResArea     89854 non-null  int64
 13  ResidFAR    89854 non-null  float64
 14  RetailArea  89854 non-null  int64
 15  YearBuilt   89854 non-null  int64
 16  YearAlter1  89854 non-null  int64
 17  ZipCode     89525 non-null  float64
 18  YCoord      86595 non-null  float64
 19  XCoord      86595 non-null  float64
dtypes: float64(10), int64(9), object(1)
memory usage: 13.7+ MB

In [7]:
df1 = df.copy()

In [8]:
df1

,Address,BldgArea,BldgDepth,BuiltFAR,CommFAR,FacilFAR,Lot,LotArea,LotDepth,NumBldgs,NumFloors,OfficeArea,ResArea,ResidFAR,RetailArea,YearBuilt,YearAlter1,ZipCode,YCoord,XCoord
0,122 BRUCKNER BOULEVARD,0,0.0,0.00,5.0,6.5,1,15000,200.0,1,0.0,0,0,6.02,0,0,0,10454.0,232162.0,1005957.0
1,126 BRUCKNER BOULEVARD,752,16.0,0.05,5.0,6.5,4,13770,100.0,2,1.0,272,0,6.02,0,1931,1994,10454.0,232156.0,1006076.0
2,138 BRUCKNER BOULEVARD,39375,200.0,1.13,5.0,6.5,10,35000,200.0,1,2.0,0,0,6.02,0,1931,0,10454.0,232036.0,1006187.0
3,144 BRUCKNER BOULEVARD,12500,85.0,5.00,5.0,6.5,17,2500,100.0,1,5.0,0,12500,6.02,0,1931,2001,10454.0,232033.0,1006299.0
4,148 BRUCKNER BOULEVARD,8595,70.0,4.58,5.0,6.5,18,1875,75.0,1,5.0,0,6876,6.02,1719,1920,2009,10454.0,232040.0,1006363.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89849,NaN,0,0.0,0.00,0.0,0.0,100,0,0.0,0,0.0,0,0,0.00,0,0,0,NaN,NaN,NaN
89850,NaN,0,0.0,0.00,3.4,6.5,150,0,0.0,0,0.0,0,0,6.02,0,0,0,NaN,NaN,NaN
89851,NaN,0,0.0,0.00,0.0,0.0,200,0,0.0,0,0.0,0,0,0.00,0,0,0,NaN,NaN,NaN
89852,NaN,0,0.0,0.00,0.0,0.0,8900,0,0.0,0,0.0,0,0,0.00,0,0,0,NaN,NaN,NaN
89853,NaN,0,0.0,0.00,0.0,0.0,8900,0,0.0,0,0.0,0,0,0.00,0,0,0,NaN,NaN,NaN

In [9]:
df1.dropna(inplace=True)

In [10]:
df1

,Address,BldgArea,BldgDepth,BuiltFAR,CommFAR,FacilFAR,Lot,LotArea,LotDepth,NumBldgs,NumFloors,OfficeArea,ResArea,ResidFAR,RetailArea,YearBuilt,YearAlter1,ZipCode,YCoord,XCoord
0,122 BRUCKNER BOULEVARD,0,0.00,0.00,5.0,6.5,1,15000,200.00,1,0.0,0,0,6.02,0,0,0,10454.0,232162.0,1005957.0
1,126 BRUCKNER BOULEVARD,752,16.00,0.05,5.0,6.5,4,13770,100.00,2,1.0,272,0,6.02,0,1931,1994,10454.0,232156.0,1006076.0
2,138 BRUCKNER BOULEVARD,39375,200.00,1.13,5.0,6.5,10,35000,200.00,1,2.0,0,0,6.02,0,1931,0,10454.0,232036.0,1006187.0
3,144 BRUCKNER BOULEVARD,12500,85.00,5.00,5.0,6.5,17,2500,100.00,1,5.0,0,12500,6.02,0,1931,2001,10454.0,232033.0,1006299.0
4,148 BRUCKNER BOULEVARD,8595,70.00,4.58,5.0,6.5,18,1875,75.00,1,5.0,0,6876,6.02,1719,1920,2009,10454.0,232040.0,1006363.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89840,6007 RIVERDALE AVENUE,1044,29.00,0.55,0.0,2.0,877,1900,76.00,1,2.0,0,1044,0.90,0,1910,0,10471.0,270401.0,1010815.0
89842,6301 RIVERDALE AVENUE,237021,35.00,0.13,0.0,2.0,1,1845000,2000.00,20,12.0,0,0,0.90,0,1848,2006,10471.0,272155.0,1009436.0
89843,755 WEST 261 STREET,83366,121.75,0.32,0.0,2.0,10,257775,235.25,2,3.0,0,0,0.90,0,1956,0,10471.0,271393.0,1010271.0
89844,755 RIVERDALE AVENUE,0,0.00,0.00,0.0,2.0,43,14749,439.17,0,0.0,0,0,0.90,0,0,0,10471.0,272036.0,1010935.0
89845,537A WEST 261 STREET,903,24.75,0.05,0.0,2.0,65,18962,228.00,9,1.0,0,0,0.90,0,1931,0,10471.0,272275.0,1010307.0

In [11]:
df1.columns

Index(['Address', 'BldgArea', 'BldgDepth', 'BuiltFAR', 'CommFAR', 'FacilFAR',
       'Lot', 'LotArea', 'LotDepth', 'NumBldgs', 'NumFloors', 'OfficeArea',
       'ResArea', 'ResidFAR', 'RetailArea', 'YearBuilt', 'YearAlter1',
       'ZipCode', 'YCoord', 'XCoord'],
      dtype='object')

In [12]:
df1.drop(['Address','YCoord', 'XCoord'],axis=1,inplace=True)

In [13]:
df1

,BldgArea,BldgDepth,BuiltFAR,CommFAR,FacilFAR,Lot,LotArea,LotDepth,NumBldgs,NumFloors,OfficeArea,ResArea,ResidFAR,RetailArea,YearBuilt,YearAlter1,ZipCode
0,0,0.00,0.00,5.0,6.5,1,15000,200.00,1,0.0,0,0,6.02,0,0,0,10454.0
1,752,16.00,0.05,5.0,6.5,4,13770,100.00,2,1.0,272,0,6.02,0,1931,1994,10454.0
2,39375,200.00,1.13,5.0,6.5,10,35000,200.00,1,2.0,0,0,6.02,0,1931,0,10454.0
3,12500,85.00,5.00,5.0,6.5,17,2500,100.00,1,5.0,0,12500,6.02,0,1931,2001,10454.0
4,8595,70.00,4.58,5.0,6.5,18,1875,75.00,1,5.0,0,6876,6.02,1719,1920,2009,10454.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89840,1044,29.00,0.55,0.0,2.0,877,1900,76.00,1,2.0,0,1044,0.90,0,1910,0,10471.0
89842,237021,35.00,0.13,0.0,2.0,1,1845000,2000.00,20,12.0,0,0,0.90,0,1848,2006,10471.0
89843,83366,121.75,0.32,0.0,2.0,10,257775,235.25,2,3.0,0,0,0.90,0,1956,0,10471.0
89844,0,0.00,0.00,0.0,2.0,43,14749,439.17,0,0.0,0,0,0.90,0,0,0,10471.0
89845,903,24.75,0.05,0.0,2.0,65,18962,228.00,9,1.0,0,0,0.90,0,1931,0,10471.0

In [14]:
df2 = pd.read_csv("bronx.csv")

In [15]:
df2

               Complaint Type  ZipCode Borough
0              HEAT/HOT WATER  10458.0   BRONX
1              HEAT/HOT WATER  10456.0   BRONX
2              HEAT/HOT WATER  10459.0   BRONX
3        UNSANITARY CONDITION  10456.0   BRONX
4              HEAT/HOT WATER  10473.0   BRONX
...                       ...      ...     ...
1617951        HEAT/HOT WATER  10470.0   BRONX
1617952        HEAT/HOT WATER  10458.0   BRONX
1617953  UNSANITARY CONDITION  10472.0   BRONX
1617954        HEAT/HOT WATER  10461.0   BRONX
1617955        HEAT/HOT WATER  10467.0   BRONX

[1617956 rows x 3 columns]

In [16]:
df2.columns

Index(['Complaint Type', 'ZipCode', 'Borough'], dtype='object')

In [17]:
df2.drop(['Borough'],axis=1,inplace=True)

In [18]:
df2

               Complaint Type  ZipCode
0              HEAT/HOT WATER  10458.0
1              HEAT/HOT WATER  10456.0
2              HEAT/HOT WATER  10459.0
3        UNSANITARY CONDITION  10456.0
4              HEAT/HOT WATER  10473.0
...                       ...      ...
1617951        HEAT/HOT WATER  10470.0
1617952        HEAT/HOT WATER  10458.0
1617953  UNSANITARY CONDITION  10472.0
1617954        HEAT/HOT WATER  10461.0
1617955        HEAT/HOT WATER  10467.0

[1617956 rows x 2 columns]

In [ ]:
#duplicateDFRow = df2[df2.duplicated()]

In [ ]:
#duplicateDFRow

In [ ]:
#df2.drop_duplicates(ignore_index=True, inplace=True)

In [ ]:
#df2

In [ ]:
#df2.info()

In [ ]:
df2['Complaint Type'].value_counts()

In [ ]:
df1.info()

### Using JOIN Method

In [19]:
joined_df = df1.join(df2,on='ZipCode', how='left',lsuffix='ZipCodeLeft',rsuffix='ZipCodeRight')

In [20]:
joined_df

,BldgArea,BldgDepth,BuiltFAR,CommFAR,FacilFAR,Lot,LotArea,LotDepth,NumBldgs,NumFloors,OfficeArea,ResArea,ResidFAR,RetailArea,YearBuilt,YearAlter1,ZipCodeZipCodeLeft,Complaint Type,ZipCodeZipCodeRight
0,0,0.00,0.00,5.0,6.5,1,15000,200.00,1,0.0,0,0,6.02,0,0,0,10454.0,PLUMBING,10459.0
1,752,16.00,0.05,5.0,6.5,4,13770,100.00,2,1.0,272,0,6.02,0,1931,1994,10454.0,PLUMBING,10459.0
2,39375,200.00,1.13,5.0,6.5,10,35000,200.00,1,2.0,0,0,6.02,0,1931,0,10454.0,PLUMBING,10459.0
3,12500,85.00,5.00,5.0,6.5,17,2500,100.00,1,5.0,0,12500,6.02,0,1931,2001,10454.0,PLUMBING,10459.0
4,8595,70.00,4.58,5.0,6.5,18,1875,75.00,1,5.0,0,6876,6.02,1719,1920,2009,10454.0,PLUMBING,10459.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89840,1044,29.00,0.55,0.0,2.0,877,1900,76.00,1,2.0,0,1044,0.90,0,1910,0,10471.0,DOOR/WINDOW,10459.0
89842,237021,35.00,0.13,0.0,2.0,1,1845000,2000.00,20,12.0,0,0,0.90,0,1848,2006,10471.0,DOOR/WINDOW,10459.0
89843,83366,121.75,0.32,0.0,2.0,10,257775,235.25,2,3.0,0,0,0.90,0,1956,0,10471.0,DOOR/WINDOW,10459.0
89844,0,0.00,0.00,0.0,2.0,43,14749,439.17,0,0.0,0,0,0.90,0,0,0,10471.0,DOOR/WINDOW,10459.0
89845,903,24.75,0.05,0.0,2.0,65,18962,228.00,9,1.0,0,0,0.90,0,1931,0,10471.0,DOOR/WINDOW,10459.0

In [21]:
joined_df['Complaint Type'].value_counts()

UNSANITARY CONDITION    23955
PAINT/PLASTER           18098
HEAT/HOT WATER          10118
WATER LEAK              10001
GENERAL                  8865
DOOR/WINDOW              8831
ELECTRIC                 2805
FLOORING/STAIRS          2269
PLUMBING                 1649
Name: Complaint Type, dtype: int64

In [22]:
joined_df.columns

Index(['BldgArea', 'BldgDepth', 'BuiltFAR', 'CommFAR', 'FacilFAR', 'Lot',
       'LotArea', 'LotDepth', 'NumBldgs', 'NumFloors', 'OfficeArea', 'ResArea',
       'ResidFAR', 'RetailArea', 'YearBuilt', 'YearAlter1',
       'ZipCodeZipCodeLeft', 'Complaint Type', 'ZipCodeZipCodeRight'],
      dtype='object')

In [23]:
joined_df.isnull().sum()

BldgArea               0
BldgDepth              0
BuiltFAR               0
CommFAR                0
FacilFAR               0
Lot                    0
LotArea                0
LotDepth               0
NumBldgs               0
NumFloors              0
OfficeArea             0
ResArea                0
ResidFAR               0
RetailArea             0
YearBuilt              0
YearAlter1             0
ZipCodeZipCodeLeft     0
Complaint Type         0
ZipCodeZipCodeRight    0
dtype: int64

In [24]:
joined_df.drop(['YearBuilt', 'YearAlter1','ZipCodeZipCodeLeft','ZipCodeZipCodeRight'],axis=1,inplace=True)

In [25]:
joined_df

,BldgArea,BldgDepth,BuiltFAR,CommFAR,FacilFAR,Lot,LotArea,LotDepth,NumBldgs,NumFloors,OfficeArea,ResArea,ResidFAR,RetailArea,Complaint Type
0,0,0.00,0.00,5.0,6.5,1,15000,200.00,1,0.0,0,0,6.02,0,PLUMBING
1,752,16.00,0.05,5.0,6.5,4,13770,100.00,2,1.0,272,0,6.02,0,PLUMBING
2,39375,200.00,1.13,5.0,6.5,10,35000,200.00,1,2.0,0,0,6.02,0,PLUMBING
3,12500,85.00,5.00,5.0,6.5,17,2500,100.00,1,5.0,0,12500,6.02,0,PLUMBING
4,8595,70.00,4.58,5.0,6.5,18,1875,75.00,1,5.0,0,6876,6.02,1719,PLUMBING
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89840,1044,29.00,0.55,0.0,2.0,877,1900,76.00,1,2.0,0,1044,0.90,0,DOOR/WINDOW
89842,237021,35.00,0.13,0.0,2.0,1,1845000,2000.00,20,12.0,0,0,0.90,0,DOOR/WINDOW
89843,83366,121.75,0.32,0.0,2.0,10,257775,235.25,2,3.0,0,0,0.90,0,DOOR/WINDOW
89844,0,0.00,0.00,0.0,2.0,43,14749,439.17,0,0.0,0,0,0.90,0,DOOR/WINDOW
89845,903,24.75,0.05,0.0,2.0,65,18962,228.00,9,1.0,0,0,0.90,0,DOOR/WINDOW

In [26]:
joined_df.describe()

,BldgArea,BldgDepth,BuiltFAR,CommFAR,FacilFAR,Lot,LotArea,LotDepth,NumBldgs,NumFloors,OfficeArea,ResArea,ResidFAR,RetailArea
count,8.659100e+04,86591.000000,86591.000000,86591.000000,86591.000000,86591.000000,8.659100e+04,86591.000000,86591.000000,86591.000000,8.659100e+04,8.659100e+04,86591.000000,86591.000000
mean,8.341031e+03,49.855709,1.143734,0.123250,2.870513,105.260893,9.479385e+03,104.972907,1.224896,2.350154,5.227774e+02,5.891092e+03,1.690055,362.536234
std,6.625799e+04,30.325272,1.810324,0.561512,1.597633,426.684680,2.992482e+05,63.283144,1.947582,1.441622,1.218634e+04,5.752111e+04,1.304745,5001.922740
min,0.000000e+00,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000
25%,1.665000e+03,35.000000,0.590000,0.000000,2.000000,20.000000,2.200000e+03,95.000000,1.000000,2.000000,0.000000e+00,1.215000e+03,0.900000,0.000000
50%,2.280000e+03,45.000000,0.880000,0.000000,2.000000,41.000000,2.512000e+03,100.000000,1.000000,2.000000,0.000000e+00,1.816000e+03,1.100000,0.000000
75%,3.321000e+03,56.000000,1.270000,0.000000,4.800000,72.000000,4.200000e+03,102.070000,1.000000,3.000000,0.000000e+00,2.650000e+03,2.430000,0.000000
max,1.354011e+07,1300.000000,259.800000,9.000000,10.000000,7505.000000,7.425000e+07,8000.000000,251.000000,44.000000,1.311800e+06,1.321140e+07,10.000000,598908.000000

### Let HEAT/HOT WATER be 1 and the rest 0 for binary classification

In [27]:
df3 = joined_df.copy()

In [28]:
df3

,BldgArea,BldgDepth,BuiltFAR,CommFAR,FacilFAR,Lot,LotArea,LotDepth,NumBldgs,NumFloors,OfficeArea,ResArea,ResidFAR,RetailArea,Complaint Type
0,0,0.00,0.00,5.0,6.5,1,15000,200.00,1,0.0,0,0,6.02,0,PLUMBING
1,752,16.00,0.05,5.0,6.5,4,13770,100.00,2,1.0,272,0,6.02,0,PLUMBING
2,39375,200.00,1.13,5.0,6.5,10,35000,200.00,1,2.0,0,0,6.02,0,PLUMBING
3,12500,85.00,5.00,5.0,6.5,17,2500,100.00,1,5.0,0,12500,6.02,0,PLUMBING
4,8595,70.00,4.58,5.0,6.5,18,1875,75.00,1,5.0,0,6876,6.02,1719,PLUMBING
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89840,1044,29.00,0.55,0.0,2.0,877,1900,76.00,1,2.0,0,1044,0.90,0,DOOR/WINDOW
89842,237021,35.00,0.13,0.0,2.0,1,1845000,2000.00,20,12.0,0,0,0.90,0,DOOR/WINDOW
89843,83366,121.75,0.32,0.0,2.0,10,257775,235.25,2,3.0,0,0,0.90,0,DOOR/WINDOW
89844,0,0.00,0.00,0.0,2.0,43,14749,439.17,0,0.0,0,0,0.90,0,DOOR/WINDOW
89845,903,24.75,0.05,0.0,2.0,65,18962,228.00,9,1.0,0,0,0.90,0,DOOR/WINDOW

In [29]:
df3['Complaint Type'].unique()

array(['PLUMBING', 'DOOR/WINDOW', 'WATER LEAK', 'PAINT/PLASTER',
       'GENERAL', 'HEAT/HOT WATER', 'ELECTRIC', 'UNSANITARY CONDITION',
       'FLOORING/STAIRS'], dtype=object)

In [30]:
df3['Complaint Type'].replace(to_replace='PLUMBING',value=0,inplace=True)

In [31]:
df3['Complaint Type'].replace(to_replace='DOOR/WINDOW',value=0,inplace=True)

In [32]:
df3['Complaint Type'].replace(to_replace='WATER LEAK',value=0,inplace=True)

In [33]:
df3['Complaint Type'].replace(to_replace='PAINT/PLASTER',value=0,inplace=True)

In [34]:
df3['Complaint Type'].replace(to_replace='GENERAL',value=0,inplace=True)

In [35]:
df3['Complaint Type'].replace(to_replace='HEAT/HOT WATER',value=1,inplace=True)

In [36]:
df3['Complaint Type'].replace(to_replace='ELECTRIC',value=0,inplace=True)

In [37]:
df3['Complaint Type'].replace(to_replace='UNSANITARY CONDITION',value=0,inplace=True)

In [38]:
df3['Complaint Type'].replace(to_replace='FLOORING/STAIRS',value=0,inplace=True)

In [39]:
df3['Complaint Type'].unique()

array([0, 1], dtype=int64)

In [40]:
df3['Complaint Type'].value_counts()

0    76473
1    10118
Name: Complaint Type, dtype: int64

In [41]:
df3

,BldgArea,BldgDepth,BuiltFAR,CommFAR,FacilFAR,Lot,LotArea,LotDepth,NumBldgs,NumFloors,OfficeArea,ResArea,ResidFAR,RetailArea,Complaint Type
0,0,0.00,0.00,5.0,6.5,1,15000,200.00,1,0.0,0,0,6.02,0,0
1,752,16.00,0.05,5.0,6.5,4,13770,100.00,2,1.0,272,0,6.02,0,0
2,39375,200.00,1.13,5.0,6.5,10,35000,200.00,1,2.0,0,0,6.02,0,0
3,12500,85.00,5.00,5.0,6.5,17,2500,100.00,1,5.0,0,12500,6.02,0,0
4,8595,70.00,4.58,5.0,6.5,18,1875,75.00,1,5.0,0,6876,6.02,1719,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89840,1044,29.00,0.55,0.0,2.0,877,1900,76.00,1,2.0,0,1044,0.90,0,0
89842,237021,35.00,0.13,0.0,2.0,1,1845000,2000.00,20,12.0,0,0,0.90,0,0
89843,83366,121.75,0.32,0.0,2.0,10,257775,235.25,2,3.0,0,0,0.90,0,0
89844,0,0.00,0.00,0.0,2.0,43,14749,439.17,0,0.0,0,0,0.90,0,0
89845,903,24.75,0.05,0.0,2.0,65,18962,228.00,9,1.0,0,0,0.90,0,0

In [42]:
#df3.to_csv("final.csv",index=False)

### Using Merge Method

In [ ]:
df3 = pd.merge(left=df1,right=df2,how='inner',on="ZipCode")

In [ ]:
df3

In [ ]:
df3.isnull().sum()

In [ ]:
duplicateDFRow = df3[df3.duplicated()]

In [ ]:
duplicateDFRow

In [ ]:
df3.drop_duplicates(ignore_index=True, inplace=True)

In [ ]:
df3

In [ ]:
df3.groupby(by="ZipCode", as_index=False).count()

In [ ]:
df3.groupby(by="Complaint Type", as_index=False).count()

In [ ]:
df4 = df3.copy()

In [ ]:
df4

In [ ]:
df4.drop(['Street Name'],axis=1,inplace=True)

In [ ]:
df4

In [ ]:
duplicateDFRow = df4[df4.duplicated()]

In [ ]:
duplicateDFRow

In [ ]:
df4.drop_duplicates(ignore_index=True, inplace=True)

In [ ]:
df4

In [ ]:
df4.to_csv("Q3.csv",index=False)

In [ ]:
df4.corr()

In [ ]:
plt.figure(figsize=(20,15))
sns.heatmap(data=df4.corr(),cmap='coolwarm',annot=True)
plt.show()