In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Q1.csv")

In [3]:
df

,Created Date,Closed Date,Complaint Type,Incident Zip,Incident Address,Street Name,City,Borough
0,02/02/2020 06:09:17 AM,NaN,HEAT/HOT WATER,10019.0,426 WEST 52 STREET,WEST 52 STREET,NEW YORK,MANHATTAN
1,02/02/2020 02:15:24 PM,NaN,UNSANITARY CONDITION,11204.0,1751 67 STREET,67 STREET,BROOKLYN,BROOKLYN
2,02/02/2020 02:27:41 AM,NaN,HEAT/HOT WATER,11372.0,87-15 37 AVENUE,37 AVENUE,Jackson Heights,QUEENS
3,02/02/2020 12:13:18 PM,NaN,HEAT/HOT WATER,10458.0,2405 SOUTHERN BOULEVARD,SOUTHERN BOULEVARD,BRONX,BRONX
4,02/02/2020 01:59:44 PM,NaN,APPLIANCE,11209.0,223 78 STREET,78 STREET,BROOKLYN,BROOKLYN
...,...,...,...,...,...,...,...,...
6019838,10/15/2019 10:35:45 AM,10/16/2019 05:55:02 PM,HEAT/HOT WATER,10029.0,327 EAST 108 STREET,EAST 108 STREET,NEW YORK,MANHATTAN
6019839,10/15/2019 06:09:28 AM,10/15/2019 04:12:58 PM,HEAT/HOT WATER,10461.0,3555 BRUCKNER BOULEVARD,BRUCKNER BOULEVARD,BRONX,BRONX
6019840,10/15/2019 10:54:45 AM,10/16/2019 06:14:29 PM,HEAT/HOT WATER,10034.0,165 SHERMAN AVENUE,SHERMAN AVENUE,NEW YORK,MANHATTAN
6019841,10/15/2019 02:07:34 PM,10/16/2019 07:10:19 PM,HEAT/HOT WATER,10467.0,66 WEST GUN HILL ROAD,WEST GUN HILL ROAD,BRONX,BRONX
6019842,10/15/2019 11:29:01 AM,10/15/2019 09:19:45 PM,PAINT/PLASTER,10009.0,143 AVENUE D,AVENUE D,NEW YORK,MANHATTAN

In [4]:
df.columns

Index(['Created Date', 'Closed Date', 'Complaint Type', 'Incident Zip',
       'Incident Address', 'Street Name', 'City', 'Borough'],
      dtype='object')

In [5]:
df.drop(['Created Date', 'Closed Date','Incident Address','City'], axis=1, inplace=True)

In [6]:
df

               Complaint Type  Incident Zip         Street Name    Borough
0              HEAT/HOT WATER       10019.0    WEST   52 STREET  MANHATTAN
1        UNSANITARY CONDITION       11204.0           67 STREET   BROOKLYN
2              HEAT/HOT WATER       11372.0           37 AVENUE     QUEENS
3              HEAT/HOT WATER       10458.0  SOUTHERN BOULEVARD      BRONX
4                   APPLIANCE       11209.0           78 STREET   BROOKLYN
...                       ...           ...                 ...        ...
6019838        HEAT/HOT WATER       10029.0    EAST  108 STREET  MANHATTAN
6019839        HEAT/HOT WATER       10461.0  BRUCKNER BOULEVARD      BRONX
6019840        HEAT/HOT WATER       10034.0      SHERMAN AVENUE  MANHATTAN
6019841        HEAT/HOT WATER       10467.0  WEST GUN HILL ROAD      BRONX
6019842         PAINT/PLASTER       10009.0            AVENUE D  MANHATTAN

[6019843 rows x 4 columns]

In [7]:
df['Borough'].value_counts()

BROOKLYN         1739886
BRONX            1617956
MANHATTAN        1055225
Unspecified       873221
QUEENS            645971
STATEN ISLAND      87584
Name: Borough, dtype: int64

In [8]:
df2 = df[df["Complaint Type"] == "HEAT/HOT WATER"]

In [9]:
df2

         Complaint Type  Incident Zip         Street Name    Borough
0        HEAT/HOT WATER       10019.0    WEST   52 STREET  MANHATTAN
2        HEAT/HOT WATER       11372.0           37 AVENUE     QUEENS
3        HEAT/HOT WATER       10458.0  SOUTHERN BOULEVARD      BRONX
5        HEAT/HOT WATER       10456.0       MORRIS AVENUE      BRONX
7        HEAT/HOT WATER       11372.0           81 STREET     QUEENS
...                 ...           ...                 ...        ...
6019836  HEAT/HOT WATER       10029.0    EAST  108 STREET  MANHATTAN
6019838  HEAT/HOT WATER       10029.0    EAST  108 STREET  MANHATTAN
6019839  HEAT/HOT WATER       10461.0  BRUCKNER BOULEVARD      BRONX
6019840  HEAT/HOT WATER       10034.0      SHERMAN AVENUE  MANHATTAN
6019841  HEAT/HOT WATER       10467.0  WEST GUN HILL ROAD      BRONX

[2149424 rows x 4 columns]

In [10]:
df2['Borough'].value_counts()

BRONX            606133
BROOKLYN         574845
MANHATTAN        423039
Unspecified      282917
QUEENS           244122
STATEN ISLAND     18368
Name: Borough, dtype: int64

In [11]:
df2['Incident Zip'].value_counts()

11226.0    69041
10467.0    66073
10458.0    65372
10468.0    58190
10453.0    57818
           ...
10103.0        1
10112.0        1
10121.0        1
10129.0        1
12345.0        1
Name: Incident Zip, Length: 193, dtype: int64

In [12]:
df2['Street Name'].value_counts()

GRAND CONCOURSE        37863
BROADWAY               24484
OCEAN AVENUE           18716
MORRIS AVENUE          16409
ARDEN STREET           15963
                       ...
BRIGHTON 13 ST             1
VENSON AVE                 1
E 139 ST                   1
BRIGHTON    2 PLACE        1
QUAY STREET                1
Name: Street Name, Length: 6025, dtype: int64

### Should the Department of Housing Preservation and Development of New York City focus on any particular set of boroughs, ZIP codes, or street (where the complaints are severe) for the specific type of complaints you identified in response to Question 1?

Bronx and Grand Concoruse

In [13]:
df2.reset_index(inplace=True, drop=True)

In [14]:
df2

         Complaint Type  Incident Zip         Street Name    Borough
0        HEAT/HOT WATER       10019.0    WEST   52 STREET  MANHATTAN
1        HEAT/HOT WATER       11372.0           37 AVENUE     QUEENS
2        HEAT/HOT WATER       10458.0  SOUTHERN BOULEVARD      BRONX
3        HEAT/HOT WATER       10456.0       MORRIS AVENUE      BRONX
4        HEAT/HOT WATER       11372.0           81 STREET     QUEENS
...                 ...           ...                 ...        ...
2149419  HEAT/HOT WATER       10029.0    EAST  108 STREET  MANHATTAN
2149420  HEAT/HOT WATER       10029.0    EAST  108 STREET  MANHATTAN
2149421  HEAT/HOT WATER       10461.0  BRUCKNER BOULEVARD      BRONX
2149422  HEAT/HOT WATER       10034.0      SHERMAN AVENUE  MANHATTAN
2149423  HEAT/HOT WATER       10467.0  WEST GUN HILL ROAD      BRONX

[2149424 rows x 4 columns]

In [15]:
df3 = df2[df2["Borough"] == "BRONX"]

In [16]:
df3

         Complaint Type  Incident Zip          Street Name Borough
2        HEAT/HOT WATER       10458.0   SOUTHERN BOULEVARD   BRONX
3        HEAT/HOT WATER       10456.0        MORRIS AVENUE   BRONX
6        HEAT/HOT WATER       10459.0         ALDUS STREET   BRONX
12       HEAT/HOT WATER       10473.0       BOYNTON AVENUE   BRONX
18       HEAT/HOT WATER       10463.0  KINGSBRIDGE TERRACE   BRONX
...                 ...           ...                  ...     ...
2149416  HEAT/HOT WATER       10452.0    WOODYCREST AVENUE   BRONX
2149417  HEAT/HOT WATER       10470.0     EAST  242 STREET   BRONX
2149418  HEAT/HOT WATER       10458.0    BAINBRIDGE AVENUE   BRONX
2149421  HEAT/HOT WATER       10461.0   BRUCKNER BOULEVARD   BRONX
2149423  HEAT/HOT WATER       10467.0   WEST GUN HILL ROAD   BRONX

[606133 rows x 4 columns]

In [17]:
df3.reset_index(inplace=True, drop=True)

In [18]:
df3

        Complaint Type  Incident Zip          Street Name Borough
0       HEAT/HOT WATER       10458.0   SOUTHERN BOULEVARD   BRONX
1       HEAT/HOT WATER       10456.0        MORRIS AVENUE   BRONX
2       HEAT/HOT WATER       10459.0         ALDUS STREET   BRONX
3       HEAT/HOT WATER       10473.0       BOYNTON AVENUE   BRONX
4       HEAT/HOT WATER       10463.0  KINGSBRIDGE TERRACE   BRONX
...                ...           ...                  ...     ...
606128  HEAT/HOT WATER       10452.0    WOODYCREST AVENUE   BRONX
606129  HEAT/HOT WATER       10470.0     EAST  242 STREET   BRONX
606130  HEAT/HOT WATER       10458.0    BAINBRIDGE AVENUE   BRONX
606131  HEAT/HOT WATER       10461.0   BRUCKNER BOULEVARD   BRONX
606132  HEAT/HOT WATER       10467.0   WEST GUN HILL ROAD   BRONX

[606133 rows x 4 columns]

In [19]:
df3.to_csv("Q2.csv", index=False)